.button{
    outline: none;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    position: absolute;
    left: 2rem;
    cursor: pointer;
}

.button-mobile{
    left: 1rem;
    top: 5rem;
}

.button--dark{
    transition: .2s;
    background-color: var(--app-border-details);
}

.button--light{
    transition: .2s;
    background-color: var(--blue);
}

.button--dark:hover{
    transition: .6s;
    box-shadow: 0px 0px 10px 1px var(--lightViolet);
}

.button--light:hover{
    transition: .6s;
    box-shadow: 0px 0px 10px 10px var(--app-box-shadow-color);
}
