.header{
    padding: 1rem;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.header--light{
    transition: background-color .2s, box-shadow .2s;
    box-shadow: 0 2px 1px var(--app-box-shadow-color);
    background-color: var(--app-border-color-dark);
}

.header--dark{
    transition: background-color .2s, box-shadow .2s;
    box-shadow: 0 2px 1px var(--app-box-shadow-color-dark);
    background-color:  var(--app-background-color-dark);
}
