.header{
    padding: 1rem 0 2rem 0;
}

.header-label{
    max-width: 100px;
    height: 30px;
    display: flex;
    border-radius: 30px;
    border: 2px solid var(--app-border-color);
    background-color: white;
    box-shadow: 4px 4px var(--app-box-shadow-color);
    position: relative;
}

.header-div{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: grey;
}

.moon .sun{
    z-index: 10;
}

/* 
.header-label::before{
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    background-color: blue;
} */