:root{
    --app-box-shadow-color: #d2effd;
    --app-border-color: #000;
    --app-background-color: #fefefe;
    --app-background: radial-gradient(#ffccf6  1px,transparent 0),radial-gradient(#ffccf6  1px,#fefefe 0);
    --text-base-color: #000;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--app-background-color);
    background-image: var(--app-background);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
    color: var(--text-base-color);
}

div{
    padding: 0;
}